<!-- Start: Slider Section -->{% load static %}
        <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">

            <!-- Carousel slides -->

            <div class="carousel-inner">
                {% for rs in sliderdata %}

                    {% if rs.title == 'İslam Sanatı ve Mimarlığı' %}
                <div class="item active">
                    <figure>
                        <img alt="Home Slide" src="{{ rs.image.url }}" style="height: 900px" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <!-- <h3>Online Learning Anytime, Anywhere!</h3> -->
                            <h2>{{ rs.title }}</h2>
                            <p>{{ rs.description }}</p>
                            <div class="slide-buttons hidden-sm hidden-xs">
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-primary">Ödünç Al</a>
                            </div>
                        </div>
                    </div>
                </div>
                    {% else %}
                    <div class="item">
                    <figure>
                        <img alt="Home Slide" src="{{ rs.image.url }}" style="height: 800px" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <!-- <h3>Online Learning Anytime, Anywhere!</h3> -->
                            <h2>{{ rs.title }}</h2>
                            <p>{{ rs.description }}</p>
                            <div class="slide-buttons hidden-sm hidden-xs">
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-primary">Ödünç Al</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
        </div>
        <!-- End: Slider Section -->