{% extends "homebase.html" %}


{% block title %}{{ profile.user.first_name }}'s Profile{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %} {% include "sidebar.html" %} {% endblock %}

{% block content %}

 <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>User Profile</h2>
                    <span class="underline center"></span>
                    <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>User Profile</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-md-push-3">
                                    <div>
                                        <img src="{{ profile.image.url }}" style="width: 120px;height: 120px">
                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                        {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                        {% endfor %}

                                        </p>
                                    {% endfor %}
                                        <div>
                                            <button type="submit">Update Password</button>
                                        </div>
                                        {% if messages %}
                                {% for message in messages %}
                                    <br>
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message | safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                                    </form>

                                </div>


                                {% include "user_panel.html" %}

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->

 {% endblock %}
