{% extends "homebase.html" %}


{% block title %} Order Detail{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %} {% include "sidebar.html" %} {% endblock %}

{% block content %}

 <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Order Detail</h2>
                    <span class="underline center"></span>
                    <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Order Detail</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-md-push-3"><br><br><br>
                                    {% if messages %}
                                {% for message in messages %}
                                    <br>
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message | safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                                <h4>Kitap Gönderim Bilgileri<br><br></h4>
                                <table class="event-table cart">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-name">Profil Resmi</th>
                                                                <th class="product-name">Ad Soyad</th>
                                                                <th class="product-name">Telefon</th>
                                                                <th class="product-name">Adres</th>
                                                                <th class="product-name">Şehir</th>
                                                                <th class="product-name">Ülke</th>
                                                                <th class="product-name">Durum</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td data-title="date-time">
                                                                    <img src="{{ profile.image.url }}" style="width: 120px;height: 120px">
                                                                </td>
                                                                <td data-title="event">
                                                                    {{order.first_name}} {{ order.last_name }}
                                                                </td>
                                                                <td data-title="event">
                                                                    {{order.phone}}
                                                                </td>
                                                                <td data-title="event">
                                                                    {{ order.address }}
                                                                </td>
                                                                <td data-title="event">
                                                                    {{ order.city }}
                                                                </td>
                                                                <td data-title="event">
                                                                    {{ order.country }}
                                                                </td>
                                                                <td data-title="event">
                                                                    {{ order.status }}
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                        <h4><br>Ödünç Kitaplar<br><br></h4>
                                        <table class="event-table cart">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-name">Resim&nbsp;</th>
                                                                <th class="product-name">Kitap Adı&nbsp;</th>
                                                                <th class="product-name">Sayısı&nbsp;&nbsp; </th>
                                                                <th class="product-name">Durumu&nbsp;&nbsp; </th>
                                                                <th class="product-name">&nbsp;&nbsp;Ödünç Tarihi</th>
                                                                <th class="product-name">&nbsp;&nbsp;Iade Tarih</th>
                                                                <th class="product-name">Detay</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in orderitems %}
                                                            <tr>

                                                                <td data-title="date-time"><br><a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}"><img src="{{ rs.product.image.url }}" style="width: 150px;height: 180px"></a></td>
                                                                <td data-title="date-time"><a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">&nbsp;&nbsp;<u>{{ rs.product.title }}</u></a></td>

                                                                <td data-title="date-time">&nbsp;&nbsp;&nbsp;{{ rs.quantity }}</td>
                                                                <td data-title="date-time">{{ rs.status }}</td>
                                                                <td data-title="date-time">{{ rs.create_at }}</td>
                                                                <td data-title="date-time">{{ rs.teslim_tarih }}</td>
                                                                <td data-title="date-time"><a class="btn-primary" href="/iletisim "><small><b>İade Formunu Doldurmak için Tıklayınız</b></small></a></td>

                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                </div>


                                {% include "user_panel.html" %}

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="https://github.com/UgurEgemenKaya" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->

 {% endblock %}
