                    <div class="col-md-3 col-md-pull-9">
                                    <aside id="secondary" class="sidebar widget-area">
                                        <div class="widget widget_related_search"><br><br>
                                            <h4 class="widget-title" data-control>Kullanici iŞlemleri</h4>
                                            <div class="widget_categories">
                                                <ul>
                                                    <li><a href="/user">Hesabım <span></span></a></li>
                                                    <li><a href="/user/orders">Ödünç Listem <span></span></a></li>
                                                    <li><a href="/user/comments">Yorumlarım <span></span></a></li>

                                                    <li><a href="/shopcart/">Ödünç Alma Sepetim <span></span></a></li>
                                                    <li><a href="/logout">Logout <span></span></a></li>
                                                    <!--<li><a href="#">Women <span>(11)</span></a></li>
                                                    <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                    <li><a href="#">Law firms <span>(09)</span></a></li> -->
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="widget widget_tag_cloud">

                                        </div>
                                        <div class="widget twitter-widget">

                                            </div>
                                        </div>
                                    </aside>
                                </div>